.Navbar {
    background-color: #0056b3;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: sticky;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;



}

.menu-text {
    font-size: medium;
    color: #fff;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background-color: none;
    cursor: pointer;


}

.nav-menu {
    background-color: #0056b3;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {

    left: 0;
    transition: 350ms;

}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 6px;
    list-style: none;
    height: 60px;

}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 12px;


}

.nav-text a:hover {
    cursor: pointer;
    background-color: #176ac2;


}

.nav-menu-items {
    width: 100%;

}

.navbar-toggle {
    background-color: #0056b3;
    width: 87.5%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;


}

span {
    margin-left: 16px;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 45px;
    display: block;

}

.company-name {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.2;

}


@media screen and (max-width: 320px),
screen and (max-width:480px),
screen and (max-width:768px) {
    .menu-bars {
        position: absolute;
        top: 10px;
        left: 20px;
        z-index: 2;
        cursor: pointer;

    }

    .nav-menu {
        position: absolute;
        top: 70px;
        left: 0;
        width: 50%;
        justify-content: center;
        background-color: #0056b3;
        display: none;
    }

    .nav-menu.active {
        display: block;
        height: fit-content;
        width: 52%;
        z-index: 1;
    }

    .nav-text {
        height: 40px;
        justify-content: center;
        width: 53%;
    }

    .nav-menu-item {
        flex-direction: column;
        margin-top: 5px;
        padding: 1px;
    }

    .nav-menu-item li {
        padding: 15px 20px;
        margin-top: 2px;
    }

    .Navbar {
        justify-content: flex-end;
    }

    .navbar-toggle {
        background-color: #0056b3;
        width: 52%;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .menu-text {
        display: none;
    }

    .logo-section {
        position: absolute;
        top: 10px;
        right: 20px;
        flex-direction: row;
        align-items: center;
    }

    .company-name {
        display: block;
        font-size: 14px;
        color: #fff;
        margin-left: 5px;
    }

    .logo {
        width: 30px;
        height: auto;
    }
}